<%if (ctasks.length>0){%>

    <div class="task_list">
        <% for (task of ctasks) {%>
            <div class="task" style="background-color: <%= task.color%>">

                
                <div class="expense-date">
                    <div class="expense-date__month">
                        <%= task.month%>
                    </div>
                    <div class="expense-date__year">
                        <%= task.year%>
                    </div>
                    <div class="expense-date__day">
                        <%= task.dayName%>
                    </div>
                </div>
                <div class="task-description text-center">
                    <%= task.content %>
                    
                </div>

                <div class="task-button">

                <% if (!task.isCompleted) {%>
                    <a style="text-decoration:none;"  href="tasks/complete/<%= task._id%>">
                        <i class="fa-solid fa-check fa-sm"></i>
                    </a>
                <% } %>

                <a style="text-decoration:none;" href="tasks/delete/<%= task._id%>">
                    <i class="fa-solid fa-xmark fa-sm"></i>
                </a>



                
            </div>


            </div>
            <% } %>
    </div>

    <% } %>