<%if (mtasks.length>0){%>
    <div class="task_list min-he">
        <% for (task of mtasks) {%>
            <div class="task" style="background-color: whitesmoke; color:black">
                
                    <div class="expense-date">
                        <div class="expense-date__month">
                            <%= task.month%>
                        </div>
                        <div class="expense-date__year">
                            <%= task.year%>
                        </div>
                        <div class="expense-date__day">
                            <%= task.dayName%>
                        </div>
                    </div>
                    <div class="task-description text-center">
                        <%= task.content %>
                        
                    </div>

                    <div class="task-button">

                    <% if (!task.isCompleted) {%>
                        <a style="text-decoration:none;"  href="tasks/complete/<%= task._id%>">
                            <i class="fa-solid fa-check fa-sm"></i>
                        </a>
                    <% } %>

                    <a style="text-decoration:none;" href="tasks/delete/<%= task._id%>">
                        <i class="fa-solid fa-xmark fa-sm"></i>
                    </a>



                    
                </div>

                   



            </div>
            <% } %>
    </div>




<% }else {%>
        <div class="text-center m-3 ">
            <i class="fa-solid fa-trophy fa-2xl"></i>
            Hurry You Don't Have Any Missed Task
        </div>
<% } %>