<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#All"
                    aria-expanded="true" aria-controls="collapseExample">
                    All Tasks
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#remaining"
                    aria-expanded="false" aria-controls="collapseExample">
                    Remaining Tasks
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#completed"
                    aria-expanded="false" aria-controls="collapseExample">
                    completed Tasks
                </button>
            </p>
            <div class="collapse" id="all">
                <div class="card card-body">
                    <%if (tasks.length>0){%>

                        <div class="task_list">
                            <% for (task of tasks) {%>
                                <div class="task" style="background-color: <%= task.color%>">
                                    <%= task.content %>
                                </div>
                                <% } %>
                        </div>

                        <% } %>
                </div>
            </div>
            <div class="collapse" id="remaining">
                <div class="card card-body">
                    <%if (tasks.length>0){%>

                        <div class="task_list">
                            <% for (task of tasks) {%>
                                <% if (!task.isCompleted)%>
                                <div class="task" style="background-color: <%= task.color%>">
                                    <%= task.content %>
                                </div>
                                <% } %>
                                <% } %>
                        </div>

                        <% } %>
                </div>
            </div>
            <div class="collapse" id="completed">
                <div class="card card-body">
                    <%if (tasks.length>0){%>

                        <div class="task_list">
                            <% for (task of tasks) {%>
                                <% if (task.isCompleted)%>
                                <div class="task" style="background-color: <%= task.color%>">
                                    <%= task.content %>
                                </div>
                                <% } %>
                                <% } %>
                        </div>

                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>